$primary-color: #2193b0;
$primary-color-2: #6dd5ed;
$secondary-color: #007eb4;
$tertiary-color: #fff;

$text-color: #fff;

$grey-color: grey;
$grey-color-light: #a0a0a0;
$grey-color-lighter: #bdbdbd;
$grey-color-lightest: #e9e9e9;

$dim-white: rgb(247, 247, 247);

// breakpoints
$largest-1200px: 75em;
$larger-1000px: 62.5em;
$larger-850px: 53em;
$large-750px: 47em;
$medium-600px: 37.5em;
$small-550px: 34em;
$smaller-450px: 28em;
$phone-414px: 26.5em;
