$primary-color: #f65058;
$primary-color-2: #fbde44;
$primary-color-3: #28334a;
$primary-color-3-dark: #1d2435;

$text-color: #fff;

$small-font-family: 'PT Sans Narrow', sans-serif;
$large-font-family: 'Ranchers', cursive;
